@tailwind base;
@tailwind components;
@tailwind utilities;

#html {
  background-color: #cccccc;
}

[data-scroll-container] {
  overflow: hidden;
}

html,body {
  overflow: hidden;
  height: 100%
}

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.nerko {
  font-family: "Nerko One", system-ui;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.grotesk {
  font-family: "Space Grotesk", sans-serif;
}

body {
  color: black;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */


.card1{
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)) ,url(./assets/Card.0.1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scale: 1;
}
.card2{
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)) ,url(./assets/card2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.card3{
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)) ,url(./assets/card3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}