@tailwind base;
@tailwind components;
@tailwind utilities;

#html {
  background-color: #ffff;
}

.gradient-text {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(72, 72, 72, 1) 45%,
    rgba(153, 153, 153, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.nerko {
  font-family: "Nerko One", system-ui;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.grotesk {
  font-family: "Space Grotesk", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.jostack {
  font-family: "Permanent Marker", cursive;
}

body {
  color: black;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */

