@tailwind base;
@tailwind components;
@tailwind utilities;

#html {
  background-color: #ffff;
}

[data-scroll-container] {
  overflow: hidden;
}

html,body {
  overflow: hidden;
  height: 100%
}

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.nerko {
  font-family: "Nerko One", system-ui;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.grotesk {
  font-family: "Space Grotesk", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.jostack{
  font-family: "Permanent Marker", cursive;
}


body {
  color: black;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */


#card-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.559), rgba(0, 0, 0, 0.531)), url(./assets/card-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scale: 1;
}
#card-2{
  background-image:linear-gradient(rgba(0, 0, 0, 0.559), rgba(0, 0, 0, 0.531)),url(./assets/card-2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#card-3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.559), rgba(0, 0, 0, 0.531)) ,url(./assets/card-3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}